<!-- Model runs for Event - 3.05.13 -->

<h2>Model Runs</h2>

	<table>
		<% if @models.empty? %>
		<caption>There are no Model Runs for this event at this time.</caption>
		<% else %>
		<thead>
			<tr><th colspan="<%= @models.count %>">Model Runs</th></tr>
			<tr id="#">
				<% @models.each do |mdl| %>
				<th><%= mdl.agency %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<tr class="hide">
				<td colspan="<%= @models.count %>">
					<ul>
						<li><%= link_to "24hr", "assets/Events/3.05.13/Models/24hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "36hr", "assets/Events/3.05.13/Models/36hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "48hr", "assets/Events/3.05.13/Models/48hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "60hr", "assets/Events/3.05.13/Models/60hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "72hr", "assets/Events/3.05.13/Models/72hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "84hr", "assets/Events/3.05.13/Models/84hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "96hr", "assets/Events/3.05.13/Models/96hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "108hr", "assets/Events/3.05.13/Models/108hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "120hr", "assets/Events/3.05.13/Models/120hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "132hr", "assets/Events/3.05.13/Models/132hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
					</ul>
				</td>
			</tr>
			<tr class="hide">
				<td colspan="<%= @models.count %>">
					<ul>
						<li><%= link_to "24hr", "assets/Events/3.05.13/Models/24hr_EURO-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "48hr", "assets/Events/3.05.13/Models/48hr_EURO-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "72hr", "assets/Events/3.05.13/Models/72hr_EURO-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "96hr", "assets/Events/3.05.13/Models/96hr_EURO-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "120hr", "assets/Events/3.05.13/Models/120hr_EURO-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
						<li><%= link_to "144hr", "assets/Events/3.05.13/Models/144hr_EURO-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
					</ul>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>
	<br>
	<br>
	<img id="placeholder" src="assets/Events/3.05.13/Models/24hr_GFS-12Z-3.02.13.PNG" alt="Model Output" />
