
<div id="bdy_wrapper">
		<div id="stub">
		<div class="box">
			<ul id="tabMenu">
				<li class="localwx selected"></li>
				<li class="localrdr"></li>
				<li class="tutorial"></li>
				<li class="famous"></li>
				<li class="random"></li>
			</ul>
			<div class="boxTop"></div>
			<div class="boxBody">
				<div id="localwx" class="show parent">
					<h2>Posts</h2>
					<p>Tab 1 - Posts</p>
					<ul>
						<li>Post 1</li>
						<li>Post 2</li>
						<li>Post 3</li>
					</ul>
				</div>
				<div id="localrdr" class="parent">
					<h2>Local&nbsp;Radar</h2>
					<img src="http://sirocco.accuweather.com/sat_mosaic_400x300_public/rs/isaroh_.gif" id="rdrOH" />
				</div>
				<div id="tutorial" class="parent">
					<h2>Categories</h2>
					<p>This is the Categories tab.  It can contain a list of elements as well as <a href="#">links</a> to other content.
					   Return link/return tab logic has not been implemented for animated tabs...yet...</p>
					<ul>
						<li>Category 1</li>
						<li>Category 2</li>
						<li>Category 3</li>
					</ul>  
				</div>
				<div id="famous" class="parent">
					<h2>Famous Posts</h2>
					<p>This is the Famous Posts tab.  It can contain a list of elements as well as <a href="#">links</a> to other content.
					   Return link/return tab logic has not been implemented for animated tabs...yet...</p>
					<ul>
						<li>Famous Post 1</li>
						<li>Famous Post 2</li>
						<li>Famous Post 3</li>
					</ul>
				</div>
				<div id="random" class="parent">
					<h2>Random Posts</h2>
					<p>This is the Random Posts tab.  It can contain a list of elements as well as <a href="#">links</a> to other content.
					   Return link/return tab logic has not been implemented for animated tabs...yet...</p>
					<ul>
						<li>Random Post 1</li>
						<li>Random Post 2</li>
						<li>Random Post 3</li>
					</ul>
				</div>

			</div>
		</div>
		</div>
		<div id="TabArea_bg" class="tabbed_area">
	        <ul class="tabs">
	            <li><a href="javascript:tab_select('Events')" id="Events" class="active">Ensuing Systems</a></li>
	            <li><a href="javascript:tab_select('Models')" id="Models">Models</a></li>
	            <li><a href="javascript:tab_select('Outlooks')" id="Outlooks">Outlooks</a></li>
				<li><a href="javascript:tab_select('Mesos')" id="Mesos">Meso Discs</a></li>
				<li><a href="javascript:tab_select('WWs')" id="WWs">Watches/Warnings</a></li>
				<li><a href="javascript:tab_select('Radar')" id="Radar">Radar</a></li>
				<li><a href="javascript:tab_select('Info')" id="Info">Info</a></li>
	        </ul>
	
	        <div id="Events_Content" class="content">   
				<%= render 'layouts/Events/3.05.13/discussion' %>
	        </div>
	        <div id="Models_Content" class="content">
	            <%=  render 'layouts/Events/3.05.13/models' %>
	        </div>
	        <div id="Outlooks_Content" class="content">
	            <%= render 'layouts/outlooks' %>
	        </div>
			<div id="Mesos_Content" class="content">
	            <%= render 'layouts/mesos' %>
	        </div>
			<div id="WWs_Content" class="content">
	            <h2>Watch/Warning</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Radar_Content" class="content">
	            <h2>Radar</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Info_Content" class="content">
	            <%= render 'layouts/info' %>
	        </div>
	    </div>
</div>
