
<div id="bdy_wrapper">
		<div id="stub">
		<div class="box">
			<ul id="tabMenu">
				<li class="localwx selected"></li>
				<li class="localrdr"></li>
				<li class="tutorial"></li>
				<li class="anatomy"></li>
				<li class="random"></li>
			</ul>
			<div class="boxBody clear">
				<div id="localwx" class="show parent">
					<h2>Local&nbsp;Wx</h2>
					<p>Tab 1 - Posts</p>
					<ul>
						<li>Post 1</li>
						<li>Post 2</li>
						<li>Post 3</li>
					</ul>
				</div>
				<div id="localrdr" class="parent">
					<h2>Local&nbsp;Radar</h2>
					<img src="http://sirocco.accuweather.com/sat_mosaic_640x480_public/rs/isaroh_.gif" id="rdrOH" />
				</div>
				<div id="tutorial" class="parent">
					<nav id="ttlList" class="disp">
						<h2>Tutorials</h2>
						<p>This will serve as a guidance tool for your own model interpretation. Don't take forecasts from the media outlets...make your own!</p>
						<p>First, a brief explanation on what a "model" is and how/when it is generated, or "run".  Models are computer algorithms developed by various meteorological institutions to lend guidance on upcoming weather systems.  These computer algorithms are provided input from radio-sondes and weather balloons that capture a plethora of data from the surface through the troposphere and into the stratosphere.  This data is collected twice a day and fed into the modeling algorithm at each of these times: 00Z and 12Z; "Z" is Zulu-time aka UTC or Greenwich mean-time (GMT), Eastern time is -4 hours during daylight savings and -5 hours otherwise.  The models are also run at 06Z and 18Z, but are not provided "true" atmospheric conditional data (i.e. no radio-sonde or weather balloon input). Note: some of the ensemble means run at 03Z, 09Z, 15Z, and 21Z.  Because each of these algorithms were developed by independent agencies or institutions, they each produce a unique output.  We look for convergence (or similarities) between multiple model outputs and consistencies between model runs to increase confidence in the actual outcome of the event.</p>
						<p>Second, terminology and acronyms can be found under the "Info" tab, some will be linked to via [<span class="see">see </span><em>term</em>] so it doesn't seem like I'm speaking a foreign language.  The 
						[<span class="see">see </span><%= link_to_function "GFS", "goto_tab('Info', 'trmGFS')", :class => "lnkText" %>] and 
						[<span class="see">see </span><%= link_to_function "EURO", "goto_tab('Info', 'trmEURO')", :class => "lnkText" %>] are long-range models, meaning they have forecast hours up to 384hr and 240hr, respectively (the source I use <a target="_blank" href="http://www.meteo.psu.edu/ewall/ewall.html"><u>PSU's Ewall</u></a> only offers the EURO up to 240hr).  The 
						[<span class="see">see </span><%= link_to_function "CMC", "goto_tab('Info', 'trmCMC')", :class => "lnkText" %>] and 
						[<span class="see">see </span><%= link_to_function "NAVY", "goto_tab('Info', 'trmNAVY')", :class => "lnkText" %>] are medium-long range, forecast hours up to 240hr and 180hr, respectively.  The 
						[<span class="see">see </span><%= link_to_function "NAM", "goto_tab('Info', 'trmNAM')", :class => "lnkText" %>] and 
						[<span class="see">see </span><%= link_to_function "SREF", "goto_tab('Info', 'trmSREF')", :class => "lnkText" %>] are short range, forecast hours up to 84hr and 87hr, respectively.  And finally, the 
						[<span class="see">see </span><%= link_to_function "RAP", "goto_tab('Info', 'trmRAP')", :class => "lnkText" %>] is real-time, forecast hours up to 18hr (I only use the RAP <b>during</b> the event).</p>
						<ul>
							<li>Model&nbsp;Interpretation</li>
							<li>Temp 1</li>
							<li>Temp 2</li>
						</ul>
					</nav>
					<div class="hide">
						<h3>Model&nbsp;Interpretation</h3>
						<p>Hopefully you made it through the rather dry content and we can begin the fun; actually analyzing model output to make an educated guess of what we can expect from a given system, say, 5 days in advance (120hr) before they even mention it on the news!</p>
						<p> Before continuing, you may want to open the "Models" tab for reference.  Each of the models is composed of four quadrants.  Each quadrant is output from the model about a different aspect of the atmosphere.  At the bottom of each quadrant are two lines of TEXT: the first begins with the model name (e.g. GFS), then the aspect of the atmosphere for that quadrant (e.g. 500mb VOR), followed by the week-day (abbreviated) date (yymmdd) time (ttttZ) and hour (hhh) of when the output is valid (e.g. THU 130228/0000V108; the "/" and "V" are just delimiters); the second line (is intuitive, but I will spell it out to avoid confusion) begins with "INITIAL TIME = " followed by the date (yymmdd) and time (ttttZ), the hour (hhh) is the number of hours after the initial time when the output is valid (e.g. INITIAL TIME = 130228/1200F108; again "/" and "F" are just delimiters, though I suspect "V" is for "valid" and "F" is for "forecast").</p>
						<h4>GFS:</h4>
						<p><b>Top-Left:</b> 500mb Vorticity, this is the amount of energy in the upper-mid atmosphere; deeper reds = higher vorticity -> higher vorticity = stronger surface Low (I should state that higher vorticity does not always lead to strong surface Low, but strong surface Low does require high vorticity).<br>
						<b>Top-Right:</b> surface pressure, the center of the surface Low pressure system is designated by the red "L" more/tighter concentric circles (isobars, see www.oh-wx.com for more info) is a stronger Low pressure system.<br>
						<b>Bottom-Left:</b> 700mb height and relative humidity, the scale at the bottom of the quadrant is the percentage of RH, the closer to 100 = the more likely precip is going to occur and reach the ground.<br>
						<b>Bottom-Right:</b> if you just want a quick glance, and don't really care what's going on, this quadrant is the most important...it shows accumulated precip, in hundredths of an inch using the scale at the bottom, from the last 12hrs (i.e. total precip from the previous 12 hours up to the day/date/time indicated in the first line of TEXT at the bottom) and 850mb temperature (in *C e.g. 0*C is freezing and illustrated by the thick black line), <b>do not</b> confuse this with surface temperature, they are not equivalent.</p>
						<h4>EURO:</h4>
						<p>The first three quadrants contain the same aspects as the GFS.<br>
						<b>Bottom-Right:</b> unfortunately, the "quick-glance" method does not work as well here; this quadrant shows RH for 850mb (not accum precip, but you can use the same technique as 700mb RH; closer to 100 = precip is more likely), but it does show the 850mb temperature (0*C is the thick black line).</p>
						<h4>NAM:</h4>
						<p>The first three quadrants contain the same aspects as the GFS.<br>
						<b>Bottom-Right:</b> is almost the same as the GFS, but shows 6hr accumulated precip from the last 6hrs and uses a dashed red line to denote 0*C at 850mb.</p>
						<h4>CMC and NAVY:</h4>
						<p>All quandrants contain the same aspects as the GFS.</p>
						<p>And that's the jist of it!  Hopefully you were able to follow along and now have a better understanding of the language used.  The SREF is a little more involved and has its own tutorial.  The RAP comes from a different source, along with other GFS and NAM runs that also have their own tutorial.</p>
						<p>Last, but certainly not least, I would like to thank Penn State University for the public distribution of their models, you can find all the models from above (and many more!) at <a target="_blank" href="www.meteo.psu.edu/ewall/ewall.html" class="lnkText"><u>PSU's Ewall</u></a> as well as a much more in-depth tutorial located at the top-left of their website.</p>
						<a href="javascript:showTtlList()"><small>Tutorial List</small></a>
					</div>
					<div class="hide">
						<h3>Tutorial Stub 1</h3>
						<p></p>
						<a href="javascript:showTtlList()"><small>Tutorial List</small></a>
					</div>
					<div class="hide">
						<h3>Tutorial Stub 2</h3>
						<p></p>
						<a href="javascript:showTtlList()"><small>Tutorial List</small></a>
					</div>
				</div>
				<div id="anatomy" class="parent">
					<nav id="anaList" class="disp">
						<h2>Anatomy&nbsp;of&nbsp;Wx&nbsp;Systems</h2>
						<p>This is will need to implement the same scripting and display techniques as Tutorials</p>
						<ul>
							<li>Cold Season Lows</li>
							<li>Warm Season Lows</li>
							<li>Multicore Thunderstorms</li>
							<li>Supercell Thunderstorms</li>
							<li>Hurricanes</li>
						</ul>
					</nav>
					<div class="hide">
						<h3>Cold&nbsp;Season&nbsp;Lows</h3>
						<p>Description of cold season Low pressure systems</p>
						<img src="#" alt="temp img" />
						<a href="javascript:showAnaList()"><small>Anatomy List</small></a>
					</div>
					<div class="hide">
						<h3>Warm&nbsp;Season&nbsp;Lows</h3>
						<p>Description of warm season Low pressure systems</p>
						<img src="#" alt="temp img" />
						<a href="javascript:showAnaList()"><small>Anatomy List</small></a>
					</div>
					<div class="hide">
						<h3>Multicore&nbsp;Thunderstorms</h3>
						<p>Description of multicore thunderstorms</p>
						<img src="#" alt="temp img" />
						<a href="javascript:showAnaList()"><small>Anatomy List</small></a>
					</div>
					<div class="hide">
						<h3>Supercell&nbsp;Thunderstorms</h3>
						<p>Description of supercell thunderstorms</p>
						<img src="#" alt="temp img" />
						<a href="javascript:showAnaList()"><small>Anatomy List</small></a>
					</div>
					<div class="hide">
						<h3>Hurricanes</h3>
						<p>Description of hurricanes</p>
						<img src="#" alt="temp img" />
						<a href="javascript:showAnaList()"><small>Anatomy List</small></a>
					</div>
				</div>
				<div id="random" class="parent">
					<h2>Random Posts</h2>
					<p>This is the Random Posts tab.  It can contain a list of elements as well as <a href="#">links</a> to other content.
					   Return link/return tab logic has not been implemented for animated tabs...yet...</p>
					<ul>
						<li>Random Post 1</li>
						<li>Random Post 2</li>
						<li>Random Post 3</li>
					</ul>
				</div>
			</div>
		</div>
		</div><!-- end #stub -->
		<div id="TabArea_bg" class="tabbed_area">
	        <ul class="tabs">
	            <li><a href="javascript:tab_select('Events')" id="Events" class="active">Ensuing Systems</a></li>
	            <li><a href="javascript:tab_select('Models')" id="Models">Models</a></li>
				<% if @event.threat == "severe" %>
	            <li><a href="javascript:tab_select('Outlooks')" id="Outlooks">Outlooks</a></li>
				<% else %>
				<li><a href="javascript:tab_select('Tracks')" id="Tracks">Low Tracks</a></li>
				<% end %>
				<li><a href="javascript:tab_select('Mesos')" id="Mesos">Meso Discs</a></li>
				<% if @event.threat == "severe" %>
				<li><a href="javascript:tab_select('WWs')" id="WWs">Free Tab</a></li>
				<% else %>
				<li><a href="javascript:tab_select('QPF')" id="QPF">QPF</a></li>
				<% end %>
				<li><a href="javascript:tab_select('Radar')" id="Radar">Watches/Warnings</a></li>
				<li><a href="javascript:tab_select('Info')" id="Info">Info</a></li>
	        </ul>
	
	        <div id="Events_Content" class="content">   
				<%= render "layouts/Events/"+@event.date+"/discussion" %>
	        </div>
	        <div id="Models_Content" class="content">
	            <%=  render "layouts/Events/"+@event.date+"/models" %>
	        </div>
			<% if @event.threat == "severe" %>
	        <div id="Outlooks_Content" class="content">
	            <%= render "layouts/Events/"+@event.date+"/outlooks" %>
	        </div>
			<% else %>
			<div id="Tracks_Content" class="content">
				<%= render "layouts/Events/"+@event.date+"/tracks" %>
			</div>
			<% end %>
			<div id="Mesos_Content" class="content">
	            <%= render "layouts/Events/"+@event.date+"/mesos" %>
	        </div>
			<% if @event.threat == "severe" %>
			<div id="WWs_Content" class="content">
	            <%= render "layouts/Events/"+@event.date+"/wws" %>
	        </div>
			<% else %>
			<div id="QPF_Content" class="content">
				<%= render "layouts/Events/"+@event.date+"/qpf" %>
			</div>
			<% end %>
			<div id="Radar_Content" class="content">
	            <h2>Radar</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Info_Content" class="content">
	            <%= render "layouts/info" %>
	        </div>
	    </div>
</div>
