
<div id="bdy_wrapper">
		<div id="stub">
			<section>
				<h2>Recent News</h2>
				<p>This section can act more as a "blog" with or without database backing </p>
			</section>
		</div>
		<div id="TabArea_bg" class="tabbed_area">
	        <ul class="tabs">
	            <li><a href="javascript:tab_select('Events')" id="Events" class="active">Ensuing Systems</a></li>
	            <li><a href="javascript:tab_select('Models')" id="Models">Models</a></li>
	            <li><a href="javascript:tab_select('Outlooks')" id="Outlooks">Outlooks</a></li>
				<li><a href="javascript:tab_select('Mesos')" id="Mesos">Meso Discs</a></li>
				<li><a href="javascript:tab_select('WWs')" id="WWs">Watches/Warnings</a></li>
				<li><a href="javascript:tab_select('Radar')" id="Radar">Radar</a></li>
				<li><a href="javascript:tab_select('Info')" id="Info">Info</a></li>
	        </ul>
	
	        <div id="Events_Content" class="content">   
				<%= render 'layouts/Events/3.05.13/discussion' %>
	        </div>
	        <div id="Models_Content" class="content">
	            <%=  render 'layouts/Events/3.05.13/models' %>
	        </div>
	        <div id="Outlooks_Content" class="content">
	            <%= render 'layouts/outlooks' %>
	        </div>
			<div id="Mesos_Content" class="content">
	            <%= render 'layouts/mesos' %>
	        </div>
			<div id="WWs_Content" class="content">
	            <h2>Watch/Warning</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Radar_Content" class="content">
	            <h2>Radar</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Info_Content" class="content">
	            <%= render 'layouts/info' %>
	        </div>
	    </div>
</div>
