<h1>Listing wws</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Image</th>
    <th>Disc</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wws.each do |ww| %>
  <tr>
    <td><%= ww.number %></td>
    <td><%= ww.image %></td>
    <td><%= ww.disc %></td>
    <td><%= ww.event_id %></td>
    <td><%= link_to 'Show', ww %></td>
    <td><%= link_to 'Edit', edit_ww_path(ww) %></td>
    <td><%= link_to 'Destroy', ww, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ww', new_ww_path %>
