<%= form_for(@meso) do |f| %>
  <% if @meso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meso.errors.count, "error") %> prohibited this meso from being saved:</h2>

      <ul>
      <% @meso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :disc %><br />
    <%= f.text_area :disc %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.number_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
