<h1>Listing mesos</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Image</th>
    <th>Disc</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mesos.each do |meso| %>
  <tr>
    <td><%= meso.number %></td>
    <td><%= meso.image %></td>
    <td><%= meso.disc %></td>
    <td><%= meso.event_id %></td>
    <td><%= link_to 'Show', meso %></td>
    <td><%= link_to 'Edit', edit_meso_path(meso) %></td>
    <td><%= link_to 'Destroy', meso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meso', new_meso_path %>
