<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @radar.time %>
</p>

<p>
  <b>Image:</b>
  <%= @radar.image %>
</p>

<p>
  <b>Event:</b>
  <%= @radar.event_id %>
</p>


<%= link_to 'Edit', edit_radar_path(@radar) %> |
<%= link_to 'Back', radars_path %>
