<h1>Listing outlooks</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Date</th>
    <th>Disc</th>
    <th>Torn</th>
    <th>Wind</th>
    <th>Hail</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outlooks.each do |outlook| %>
  <tr>
    <td><%= outlook.time %></td>
    <td><%= outlook.date %></td>
    <td><%= outlook.disc %></td>
    <td><%= outlook.torn %></td>
    <td><%= outlook.wind %></td>
    <td><%= outlook.hail %></td>
    <td><%= outlook.event_id %></td>
    <td><%= link_to 'Show', outlook %></td>
    <td><%= link_to 'Edit', edit_outlook_path(outlook) %></td>
    <td><%= link_to 'Destroy', outlook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outlook', new_outlook_path %>
