<header>
	<section id="OHWX">
		<h1>OH-WX</h1>
	</section>
	<section id="OhWx">
		<h2>Ohio Valley Weather</h2>
	</section>		
	<section id="linkbar">
		<nav>
			<ul>
				<li><%= link_to "HOME",			:root %></li>
				<li><%= link_to "WX EVENTS", 	"WxEvents" %></li>
				<li><%= link_to "IMAGES",		"Images" %></li>
				<li><%= link_to "L. O. W.",		"L_O_W" %></li>
				<li><%= link_to "ABOUT",		"About" %></li>
				<li><%= link_to "REFERENCES",	"References" %></li>
			</ul>
		</nav>
	</section>
</header>
