<header>
	<section id="OHWX">
		<h1>OH-WX</h1>
	</section>
	<section id="OhWx">
		<h2>Ohio Valley Weather</h2>
	</section>		
	<section id="linkbar">
		<nav>
			<ul>
				<li><%= link_to "HOME", 		'#' %></li>
				<li><%= link_to "WX EVENTS", 	'#' %></li>
				<li><%= link_to "IMAGES",		'#' %></li>
				<li><%= link_to "L. O. W.",		'#' %></li>
				<li><%= link_to "ABOUT",		'#' %></li>
				<li><%= link_to "REFERENCES",	'#' %></li>
			</ul>
		</nav>
	</section>
</header>
