<!-- Show Models -->

<h2>Model Runs</h2>

	<ul id="mdlSlideshow">
		<li><%= link_to "24hr", "assets/Events/3.05.13/Models/24hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "36hr", "assets/Events/3.05.13/Models/36hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "48hr", "assets/Events/3.05.13/Models/48hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "60hr", "assets/Events/3.05.13/Models/60hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "72hr", "assets/Events/3.05.13/Models/72hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "84hr", "assets/Events/3.05.13/Models/84hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "96hr", "assets/Events/3.05.13/Models/96hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "108hr", "assets/Events/3.05.13/Models/108hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "120hr", "assets/Events/3.05.13/Models/120hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
		<li><%= link_to "132hr", "assets/Events/3.05.13/Models/132hr_GFS-12Z-3.02.13.PNG", :onmouseover => "return showPic(this)" %></li>
	</ul>

	<img id="placeholder" src="assets/Events/3.05.13/Models/24hr_GFS-12Z-3.02.13.PNG" alt="didnt work" />