<!-- Show Outlook -->

<h2>Outlook @ <%= @outlook.time %> - <%= @outlook.date %></h2>
<br>
<br>
<%= image_tag("Events/2.27.13/" + @outlook.torn, :alt => "Tornado Risk") %>
<p>Discussion url: <%= @outlook.disc %></p>
<p>Image url: <%= @outlook.torn %></p>

<br>
<%= image_tag("t.png", :alt => "didnt work") %>