<!-- Show Outlook -->

<h2>Outlook @ <%= @outlook.time %> - <%= @outlook.date %></h2>
<img src="/Events/2.27.13/<%= @outlook.torn %>" alt="Tornado Risk" />
<p>Discussion url: <%= @outlook.disc %></p>
<p>Image url: <%= @outlook.torn %></p>

<img src="rails.png" alt="Image url incorrect" />